@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    Note: Only put css that will be applied to site globally.
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: "Helvetica Neue", "Arial"
}

html{ 
    height: 100%;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

svg:hover{
    fill: orangered;    
}

@media screen and (max-width: 640px){
    .main{
        padding: 0;
    }
}

/* Tailwind Styles */
.app{
    @apply z-10 flex justify-center items-center flex-col w-full mx-auto;
}

.flex-center {
    @apply flex justify-center items-center;
}
  
.flex-start {
    @apply flex justify-start items-start;
}

.flex-end {
    @apply flex justify-end items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}

/* Nav Compoent */

.dropdown_link{
    @apply hover:text-primary-orange;
}
